.movie-card {
    align-items: center;
    text-align: center;
    width: 70vw;
    margin-left: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 10px;
    }