.movie-card {
    align-items: center;
    text-align: center;
    min-width: 100%;
    /* margin-left: 8vw; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-count: 5;
    grid-gap: 20px;
    padding-top: 10px;
    min-width:0%;
    flex-wrap:wrap;
    }

     /* .movie-card {
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-top: 10px;
        justify-content: center;
        display:flex;
        flex-wrap: wrap;
        }  */