


ul {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
  }
li {
    list-style: none;
    padding : 10px 10px;
   
 }

 h1 {
     padding: 5px;
 }

 .news-panel{
     /* width: auto; */
     min-width: 0vh;
     min-height: auto;
     height:95%;
     max-height: auto;
     display: inline-block;
     margin: 0 0 10px 10px;
     box-sizing:border-box;
     
   
     border-radius: 6px;
     
 }
