.card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
   align-items: center;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .poster{
    height: 300px;
    width: 220px;
  }
h6{
  font-size: 15px;
  font-weight: bold !important;
}
  .button {
    height: auto;
    width: auto;
    font-size: 10px;
    margin-top: -12px;
   
  }

  .card-container:hover {
    transform: scale(1.01);
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
  }

  .detail-button{
  padding-right: 10px;
  padding-left: 10px;
  }
  