body{
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font: 'Open Sans Condensed';
  padding: 20px 60px;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}