body{
  background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  font: 'Open Sans Condensed';
  padding: 20px 60px;
  text-align: center;
  align-items: center;
}

.main-container {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font: 'Open Sans Condensed';
}

a{
  text-decoration: none;
  color: black;
}



*{
  box-sizing: border-box;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}